.login-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--bg-main);
    overflow-y: auto;
    min-height: 100%;
    width: 100%;
}
