.button-default,
a.button-default {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    background-color: var(--primary-default);
    color: var(--text-main);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    line-height: 1.3;
}

.button-default::after,
a.button-default::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: scaleX(0);
}

.button-default:hover::after,
a.button-default:hover::after,
.button-default:focus::after,
a.button-default:focus::after,
.button-default:active::after,
a.button-default:active::after {
    opacity: 1;
    transform: scaleX(80%);
}

.button-variant-fullwidth {
    width: 100%;
    justify-content: center;
}

.button-variant-compact {
    align-self: flex-end;
    flex-grow: 0;
    padding: 0.75rem 1rem;
}