.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-value {
    background-color: var(--input-bg);
    color: var(--text-main);
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    font-family: var(--font-timer), serif;
    text-align: center;
    min-width: 3.5rem;
}