.home-layout {
    align-content: center;
}

.home-title {
    color: var(--text-main);
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.5px;
    background: linear-gradient(to right, var(--primary-default), #00a6a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}