body {
    background: var(--bg-main);
    color: var(--text-main);
}

.app-outer-container {
    height: 100vh;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    overflow: hidden;
}

.app-inner-container {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: flex-start;
}

.app-page-container {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
