* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-main);
    color: var(--text-main);
}

.app-outer-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-inner-container {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}